<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/games">
	<img src="/img/image.svg" alt="brandimage" height="40" width="50">
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">games </a>
      </li>
		
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          type
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">strategy</a>
          <a class="dropdown-item" href="#"> action</a>
     
          <a class="dropdown-item" href="#">RPG</a>
		  <a class="dropdown-item" href="#">FPS</a>
		  <a class="dropdown-item" href="#">Horror</a>

        </div>
		
      </li>
		<li class="nav-item ">
        <a class="nav-link" href="/games/new"> add new  </a>
      </li>
		
		<% if (user){%>
			 <li class="nav-item active">
             <a class="nav-link" href="/logout">logout </a>
		      </li>
		   <% }else{%>
	
		     <li class="nav-item active">
             <a class="nav-link" href="/login">login </a>	
             </li>
             <li class="nav-item active">
             <a class="nav-link" href="/signup">sign up  </a>	
             </li>	   
			   
			   
			   
		<%}%>
		
		
		
    </ul>
	  
      <form class="d-flex" role="search" action="/games/search" type="GET" >
		
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="term"> 
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>