 <%-  include("partials/header")  %>

<h1> sign up </h1>
<form action="/signup"  method="POST"> 
<input type="email"  name="email" placeholder="Email address">
<input type="text "  name="username" placeholder="username">
<input type="password"  name="password" placeholder="password">
<button type="submit">
	signup 
	</button>


</form>









			<%- include("partials/footer")  %>
